<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.1/phpunit.xsd"
         backupGlobals="true"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="./vendor/autoload.php"
         cacheTokens="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         failOnRisky="false"
         failOnWarning="false"
         timeoutForSmallTests="5"
         timeoutForMediumTests="20"
         timeoutForLargeTests="40"
         verbose="false">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./SocialAuthentication</directory>
            <exclude>
                <directory>./vendor</directory>
                <directory>./build</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./build/logs/clover.xml" />
    </logging>
    <testsuites>
        <testsuite name="SocialAuthentication Test Suite">
            <directory suffix="Test.php">./tests/social-authentication</directory>
        </testsuite>
    </testsuites>
</phpunit>
